.container {
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;

  @media screen and (min-width: 480px) {
    width: 400px;
  }
}

body {
  background: linear-gradient(#133559, #142a48, #151e37);
  margin: 0;
  padding: 0;
  align-items: center;
  display: grid;
}

html,
body {
  height: 100%;
}
